<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/test.css" media="screen" title="no title">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="cordova.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="vendor/tabbedSlideBox/tabSlideBox.js"></script>
    <script src="js/localstorage.js"></script>
    <script src="js/geolocation.js"></script>
    <script src="lib/ionic-ratings/dist/ionic-ratings.min.js"></script>
    <script src="lib/ionic-ratings/src/ionic-ratings.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyDq45hFN8cLtKBWuas1ka0BAkbeCXKoCaw&sensor=false"></script>
    <script src="js/app(test).js"></script>

  </head>

  <body ng-app="ionicApp">

    <ion-nav-bar class="bar-light">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>


    <script id="templates/index.html" type="text/ng-template">

      <ion-view>
        <ion-content scroll="false">
            <tab-slide-box tabs-position="bottom">
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                  <ion-slide>
                      <h3>Locations content</h3>
                      <hr>
                      <div class="list">
                        <div ng-repeat="place in places" on-tap="MoreInfo(place)">
                          <h4>Title : {{place.title}}</h4>
                          <span>Longitude : {{place.longitude}}</span><br>
                          <span>Latitude : {{place.latitude}}</span><br>
                          <span>Rate : {{place.rate}}</span><br>
                          <hr>
                        </div>
                      </div>
                  </ion-slide>
                  <ion-slide>
                      <h3>Pin my position</h3>
                      <span class="subtitle">Hold to add details</span>
                      <div class="btn-save-position" on-tap="pinPosition()" on-hold="saveWithPicture()">
                        <div class="pin-wrapper">
                          <div class="pin"></div>
                        </div>
                        <div class='pulse'></div>
                      </div>
                      <div class="position">
                        <span>{{position.lat}}</span>
                        <span>{{position.lng}}</span>
                      </div>
                  </ion-slide>
                  <ion-slide>
                      <h3>New content</h3>
                      <!-- <br> -->
                      <section>
                      <section>
                        <button class="button" ng-click="startApp()">
                          Pic on the map
                        </button>
                        <form ng-submit="addPosition(place)">
                              <div class="list">
                                <label class="item item-input item-floating-label">
                                  <span class="input-label"></span>
                                  <input type="text" placeholder="Name of this place" ng-model="place.title">
                                </label>
                                <label class="item item-input item-floating-label">
                                  <input type="text" placeholder="Longitude" ng-model="place.longitude">
                                </label>
                                <label class="item item-input item-floating-label">
                                  <input type="text" placeholder="Latitude" ng-model="place.latitude">
                                </label>
                                <br>

                                <br>
                                <label>
                                  Rate this place
                                </label>
                                <!-- <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings> -->
-                                <button type="submit" class="button button-block button-balanced">Add a place</button>
                              </div>
                        </form>
                      </section>
                  </ion-slide>
              </ion-slide-box>
          <div class="tsb-icons">
              <div class="tsb-ic-wrp">
              <ion-scroll direction="x" class="tsb-hscroll">
                <a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs" on-finish-render="test()">{{tab.text}}</a>
              </ion-scroll>
            </div>
            </div>
            </tab-slide-box>
        </ion-content>
      </ion-view>

      <!-- <ion-view view-title="Intro">
        <ion-nav-buttons side="left">
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="!slideIndex">
            Skip Intro
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            Previous Slide
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 2">
            Next
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="slideIndex == 2">
            Start using MyApp
          </button>
        </ion-nav-buttons>
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
            <h3>Thank you for choosing the Awesome App!</h3>
            <div id="logo">
              <img src="http://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
              We've worked super hard to make you happy.
            </p>
            <p>
              But if you are angry, too bad.
            </p>
          </ion-slide>
          <ion-slide>
            <h3>Using Awesome</h3>

            <div id="list">
              <h5>Just three steps:</h5>
              <ol>
                <li>Be awesome</li>
                <li>Stay awesome</li>
                <li>There is no step 3</li>
              </ol>
            </div>
          </ion-slide>
          <ion-slide>
            <h3>Any questions?</h3>
            <p>
              Too bad!
            </p>
          </ion-slide>
        </ion-slide-box>
      </ion-view> -->
    </script>

    <script id="templates/main.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Awesome">
        <ion-content class="padding">
          <h1>Main app here</h1>
          <button class="button" ng-click="toIntro()">Do Tutorial Again</button>
        </ion-content>
      </ion-view>
      <ion-view>
          <ion-content hide-back-button="false"view-title="Awesome">
              <h1>Main app here</h1>
              <button class="button" ng-click="toIntro()">Do Tutorial Again</button>
              <div id="map" data-tap-disabled="true"></div>
          </ion-content>
      </ion-view>
    </script>

  </body>
</html>
